## Calculating the total

In this chapter, you will use the shipments data. The `Shipments` table has several columns such as:

- `MixDesc`: the concrete type
- `Quantity`: the amount of concrete shipped

In this exercise, your objective is to calculate the total quantity for each type of concrete used.

Instructions

1. Write a T-SQL query which will return the sum of the `Quantity` column as `Total` for each type of `MixDesc`.

In [ ]:
-- Write a query that returns an aggregation 
SELECT MixDesc,
       SUM(Quantity) AS Total
FROM Shipments
-- Group by the relevant column
GROUP BY MixDesc;

# MixDesc                             Total
# ".40W/C 24"" SPD 5000PSI W/FIBER"   26.533899307250977
# "1.0 SACK CLSM 3/8"""               114.50430229306221
# "2500 PSI 1/2"" NATURAL"            27.127500534057617
# ...

## Counting the number of rows

In this exercise, you will calculate the number of orders for each concrete type. Since each row represents one order, all you need to is count the number of rows for each type of `MixDesc`.

Instructions

1. Create a query that returns the number of rows for each type of `MixDesc`.

In [ ]:
-- Count the number of rows by MixDesc
SELECT MixDesc,
       COUNT(*)
FROM Shipments
GROUP BY MixDesc;

# MixDesc
# ".40W/C 24"" SPD 5000PSI W/FIBER"   1
# "1.0 SACK CLSM 3/8"""               6
# "2500 PSI 1/2"" NATURAL"            1
# ...

## Which date function should you use?

Suppose you want to calculate the number of years between two different dates, `DateOne` and `DateTwo`. Which SQL statement would you use to perform that calculation?

`SELECT DATEDIFF(YYYY, DateOne, DateTwo)`

## Counting the number of days between dates

In this exercise, you will calculate the difference between the order date and ship date.

Instructions

1. Write a query that returns the number of days between `OrderDate` and `ShipDate`.

In [ ]:
-- Return the difference in OrderDate and ShipDate
SELECT OrderDate, ShipDate, 
       DATEDIFF(DD, OrderDate, ShipDate) AS Duration
FROM Shipments;

# OrderDate             ShipDate              Duration
# 2017-09-27 06:50:26   2017-09-28 08:50:26   1
# 2016-06-23 08:48:19   2016-06-24 10:48:19   1
# 2016-06-16 09:05:09   2016-06-16 15:05:09   0
# ...

## Adding days to a date

In this exercise, you will calculate the approximate delivery date of an order based on `ShipDate`.

Instructions

1. Write a query that returns the approximate delivery date as five days after the `ShipDate`.

In [ ]:
-- Return the DeliveryDate as 5 days after the ShipDate
SELECT OrderDate, 
       DATEADD(DD, 5, ShipDate) AS DeliveryDate
FROM Shipments;

# OrderDate             DeliveryDate
# 2017-09-27 06:50:26   2017-10-03 08:50:26
# 2016-06-23 08:48:19   2016-06-29 10:48:19
# 2016-06-16 09:05:09   2016-06-21 15:05:09
# ...

## Rounding numbers

Sometimes, you only care about the whole dollar amount and want to ignore the decimal values of the cost. In this exercise, you will round the cost to the nearest dollar.

Instructions

1. Write a SQL query to round the values in the `Cost` column to the nearest whole number.

In [ ]:
-- Round Cost to the nearest dollar
SELECT Cost, 
       ROUND(Cost, 0) AS RoundedCost
FROM Shipments;

# Cost      RoundedCost
# 11.2480   11.0000
# 10.3976   10.0000
# 13.2444   13.0000
# ...

## Truncating numbers

Since rounding can sometimes be misleading, i.e., `$16.8` becomes `$17` while `$16.4` remains `$16`, you may want to truncate the values after the decimal instead of rounding them. When you truncate the numbers, both `$16.8` and `$16.4` remain `$16`. In this exercise, you will do just that, truncate the `Cost` column to a whole number.

Instructions

1. Write a SQL query to truncate the values in the `Cost` column to the nearest whole number.

In [ ]:
-- Truncate cost to whole number
SELECT Cost, 
       ROUND(Cost, 0, 1) AS TruncateCost
FROM Shipments;

# Cost      TruncateCost
# 11.2480   11.0000
# 10.3976   10.0000
# 13.2444   13.0000
# ...

## Calculating the absolute value

The `Shipments` table contains some bad data. There was a problem with the scales, and the weights show up as negative numbers. In this exercise, you will write a query to convert all negative weights to positive weights.

Instructions

1. Write a query that converts all the negative values in the `DeliveryWeight` column to positive values.

In [ ]:
-- Return the absolute value of DeliveryWeight
SELECT DeliveryWeight,
       ABS(DeliveryWeight) AS AbsoluteValue
FROM Shipments;

# DeliveryWeight      AbsoluteValue
# 3848.800048828125   3848.800048828125
# 3848.800048828125   3848.800048828125
# 3855.800048828125   3855.800048828125
# ...

## Calculating squares and square roots

It's time for you to practice calculating squares and square roots of columns.

Instructions

1. Write a query that calculates the square and square root of the `WeightValue` column.

In [ ]:
-- Return the square and square root of WeightValue
SELECT WeightValue, 
       SQUARE(WeightValue) AS WeightSquare, 
       SQRT(WeightValue) AS WeightSqrt
FROM Shipments;

# WeightValue          WeightSquare        WeightSqrt
# 2.1969099044799805   4.826413128402237   1.4821976603948546
# 2.1969099044799805   4.826413128402237   1.4821976603948546
# 2.198899984359741    4.83516114121727    1.482868835858297
# ...