## Creating and using variables

In T-SQL, to create a variable you use the `DECLARE` statement. The variables must have an at sign (`@`) as their first character. Like most things in T-SQL, variables are not case sensitive. To assign a value to a variable, you can either use the keyword `SET` or a `SELECT` statement, then the variable name followed by an equal sign and a value.

Instructions

1. 
    1. Create an integer variable named `counter`.
    2. Assign the value 20 to this variable.
2. Increment the variable `counter` by 1 and assign it back to `counter`.

In [ ]:
-- Declare the variable (a SQL Command, the var name, the datatype)
DECLARE @counter INT
-- Set the counter to 20
SET @counter = 20
-- Select the counter
SELECT @counter;

# 20

In [ ]:
-- Declare the variable (a SQL Command, the var name, the datatype)
DECLARE @counter INT 
-- Set the counter to 20
SET @counter = 20
-- Select and increment the counter by one 
SET @counter = @counter + 1
-- Print the variable
SELECT @counter;

# 21

## Creating a WHILE loop

In this exercise, you will use the variable you created in the previous exercise you write a `WHILE` loop. Recall that structure:

```
WHILE some_condition 

BEGIN 
    -- Perform some operation here
END
```

Instructions

1. Write a `WHILE` loop that increments `counter` by 1 until `counter` is less than 30.

In [ ]:
DECLARE @counter INT 
SET @counter = 20
-- Create a loop
WHILE @counter < 30
-- Loop code starting point
BEGIN
    SELECT @counter = @counter + 1
-- Loop finish
END
-- Check the value of the variable
SELECT @counter;

# 30

## Queries with derived tables (I)

The focus of this lesson is _derived tables_. You can use derived tables when you want to break down a complex query into smaller steps. A derived table is a query which is used in the place of a table. Derived tables are a great solution if you want to create intermediate calculations that need to be used in a larger query.

In this exercise, you will calculate the maximum value of the blood glucose level for each record by age.

Instructions

1. Return `MaxGlucose` from the derived table.
2. Join the derived table to the main query on `Age`.

In [ ]:
SELECT a.RecordId, 
       a.Age,
       a.BloodGlucoseRandom, 
-- Select maximum glucose value (use colname from derived table)    
       b.MaxGlucose
FROM Kidney AS a
-- Join to derived table
JOIN (SELECT Age, MAX(BloodGlucoseRandom) AS MaxGlucose 
      FROM Kidney
      GROUP BY Age) AS b
-- Join on Age
ON a.Age = b.Age;

# RecordId   Age   BloodGlucoseRandom   MaxGlucose
# 29         0     93                   220
# 71         0     129                  220
# 109        0     0                    220
# ...

## Queries with derived tables (II)

In this exercise, you will create a derived table to return all patient records with the highest `BloodPressure` at their `Age` level.

Instructions

1. Create a derived table
    1. returning `Age` and `MaxBloodPressure`; the latter is the maximum of `BloodPressure`.
    2. is taken from the `kidney` table.
    2. is grouped by `Age`.
2. Join the derived table to the main query on
    1. blood pressure equal to max blood pressure.
    2. age.

In [ ]:
SELECT *
FROM Kidney AS a
-- JOIN and create the derived table
JOIN (SELECT Age, 
             MAX(BloodPressure) AS MaxBloodPressure 
      FROM Kidney
      GROUP BY Age) AS b
-- JOIN on BloodPressure equal to MaxBloodPressure
ON a.BloodPressure = b.MaxBloodPressure
-- Join on Age
AND a.Age = b.Age;

# Age   BloodPressure   SpecificGravity      Albumin   Sugar   RedBloodCells   PusCell   PusCellClumps   Bacteria     BloodGlucoseRandom   BloodUrea   SerumCreatinine      Sodium   Potassium           Hemoglobin          PackedCellVolume   WhiteBloodCellCount   RedBloodCellCount    Hypertension   DiabetesMellitus   CoronaryArteryDisease   Appetite   PedalEdema   Anemia   Class   RecordID   Age   MaxBloodPressure
# 90    90              1.024999976158142    1         0       null            normal    notpresent      notpresent   139                  89          3                    140      4.099999904632568   12                  37                 7900                  3.9000000953674316   yes            yes                null                    good       no           no       ckd     187        90    90
# 83    70              1.0199999809265137   3         0       normal          normal    notpresent      notpresent   102                  60          2.5999999046325684   115      5.699999809265137   8.699999809265137   26                 12800                 3.0999999046325684   yes            null               null                    poor       no           yes      ckd     159        83    70
# 82    80              1.0099999904632568   2         2       normal          null      notpresent      notpresent   140                  70          3.4000000953674316   136      4.199999809265137   13                  40                 9800                  4.199999809265137    yes            yes                null                    good       no           no       ckd     38         82    80
# ...

## CTE syntax

Select all the T-SQL keywords used to create a Common table expression.

1. `DEALLOCATE`
2. `OPEN`
3. `AS`
4. `WITH`
5. `CTE`

3 and 4.

## Creating CTEs (I)

A Common table expression or CTE is used to create a table that can later be used with a query. To create a CTE, you will always use the `WITH` keyword followed by the CTE name and the name of the columns the CTE contains. The CTE will also include the definition of the table enclosed within the `AS()`.

In this exercise, you will use a CTE to return all the ages with the maximum `BloodGlucoseRandom` in the table.

Instructions

1. Create a CTE `BloodGlucoseRandom` that returns one column (`MaxGlucose`) which contains the maximum `BloodGlucoseRandom` in the table.
2. Join the CTE to the main table (`Kidney`) on `BloodGlucoseRandom` and `MaxGlucose`.

In [ ]:
-- Specify the keyowrds to create the CTE
WITH BloodGlucoseRandom (MaxGlucose) 
AS (SELECT MAX(BloodGlucoseRandom) AS MaxGlucose
    FROM Kidney)

SELECT a.Age, 
       b.MaxGlucose
FROM Kidney AS a
-- Join the CTE on blood glucose equal to max blood glucose
JOIN BloodGlucoseRandom AS b
ON a.BloodGlucoseRandom = b.MaxGlucose;

# Age   MaxGlucose
# 50    490
# 60    490

## Creating CTEs (II)

In this exercise, you will use a CTE to return all the information regarding the patient(s) with the maximum `BloodPressure`.

Instructions

1. Create a CTE `BloodPressure` that returns one column (`MaxBloodPressure`) which contains the maximum `BloodPressure` in the table.
2. Join this CTE (using an alias `b`) to the main table (`Kidney`) to return information about patients with the maximum `BloodPressure`.

In [ ]:
-- Create the CTE
WITH BloodPressure (MaxBloodPressure) 
AS (SELECT MAX(BloodPressure) AS MaxBloodPressure 
    FROM Kidney)

SELECT *
FROM Kidney AS a
-- Join the CTE  
JOIN BloodPressure AS b
ON a.BloodPressure = b.MaxBloodPressure

# Age   BloodPressure   SpecificGravity   Albumin   Sugar   RedBloodCells   PusCell    PusCellClumps   Bacteria     BloodGlucoseRandom   BloodUrea   SerumCreatinine      Sodium   Potassium            Hemoglobin           PackedCellVolume   WhiteBloodCellCount   RedBloodCellCount   Hypertension   DiabetesMellitus   CoronaryArteryDisease   Appetite   PedalEdema   Anemia   Class   RecordID   MaxBloodPressure
# 56    180             null              0         4       null            abnormal   notpresent      notpresent   298                  24          1.2000000476837158   139      3.9000000953674316   11.199999809265137   32                 10400                 4.199999809265137   yes            yes                null                    poor       yes          no       ckd     96         180