## Loading a DataFrame
We're still working hard to solve the kidnapping of Bayes, the Golden Retriever. Previously, we used a license plate spotted at the crime scene to narrow the list of suspects to:

- Fred Frequentist
- Ronald Aylmer Fisher
- Gertrude Cox
- Kirstine Smith

We've obtained credit card records for all four suspects. Perhaps some of them made suspicious purchases before the kidnapping?

The records are in a CSV called `"credit_records.csv"`.

Instructions

- Load the CSV `"credit_records.csv"` into a DataFrame called `credit_records`.
- Display the first five rows of `credit_records` using the `.head()` method.

In [1]:
# Import pandas under the alias pd
import pandas as pd

# Load the CSV "credit_records.csv"
credit_records = pd.read_csv('credit_records.csv')

# Display the first five rows of credit_records using the .head() method
credit_records.head()

            suspect         location              date         item  price
0    Kirstine Smith   Groceries R Us   January 6, 2018     broccoli   1.25
1      Gertrude Cox  Petroleum Plaza   January 6, 2018  fizzy drink   1.90
2  Fred Frequentist   Groceries R Us   January 6, 2018     broccoli   1.25
3      Gertrude Cox   Groceries R Us  January 12, 2018     broccoli   1.25
4    Kirstine Smith    Clothing Club   January 9, 2018        shirt  14.25

## Inspecting a DataFrame
We've loaded the credit card records of our four suspects into a DataFrame called `credit_records`. Let's learn more about the structure of this DataFrame.

The `pandas` module has been imported under the alias `pd`. The DataFrame `credit_records` has already been imported.

How many rows are in `credit_records`?

Instructions

- Use the `.info()` method to inspect the DataFrame `credit_records`
- How many rows are in `credit_records`?

In [2]:
# Use .info() to inspect the DataFrame credit_records
credit_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   suspect   104 non-null    object
 1   location  104 non-null    object
 2   date      104 non-null    object
 3   item      104 non-null    object
 4   price     104 non-null    float64
dtypes: float64(1), object(4)
memory usage: 4.2+ KB

## Two methods for selecting columns
Once again, we've loaded the credit card records of our four suspects into a DataFrame called `credit_records`. Let's examine the items that they've purchased.

The `pandas` module has been imported under the alias `pd`. The DataFrame `credit_records` has already been imported.

Instructions

- Select the column `item` from `credit_records` using brackets and string notation.
- Select the column `item` from `credit_records` using dot notation.

In [3]:
# Select the column item from credit_records
# Use brackets and string notation
items = credit_records[['item']]

# Display the results
items

            item
0       broccoli
1    fizzy drink
2       broccoli
3       broccoli
4          shirt
..           ...
99         shirt
100        pants
101        dress
102       burger
103    cucumbers

[104 rows x 1 columns]

In [4]:
# Select the column item from credit_records
# Use dot notation
items = credit_records.item

# Display the results
items

0         broccoli
1      fizzy drink
2         broccoli
3         broccoli
4            shirt
          ...
99           shirt
100          pants
101          dress
102         burger
103      cucumbers
Name: item, Length: 104, dtype: object

## Correcting column selection errors
A junior detective tried to access the location columns of `credit_records`, but he made some mistakes. Help correct his code so that we can search for suspicious purchases.

In all exercises going forward, `pandas` will be imported as `pd`. The DataFrame `credit_records` has already been imported.

Instructions

- Correct the code so that it runs without errors.

In [5]:
# One or more lines of code contain errors.
# Fix the errors so that the code runs.

# Select the location column in credit_records
location = credit_records['location']

# Select the item column in credit_records
items = credit_records.item

# Display results
location

0       Groceries R Us
1      Petroleum Plaza
2       Groceries R Us
3       Groceries R Us
4        Clothing Club
            ...
99       Clothing Club
100      Clothing Club
101      Clothing Club
102        Burger Mart
103     Groceries R Us
Name: location, Length: 104, dtype: object

## More column selection mistakes
Another junior detective is examining a DataFrame of Missing Puppy Reports. He's made some mistakes that cause the code to fail.

The DataFrame is called `mpr`.

Instructions

- Inspect the DataFrame `mpr` using `info()`.
- Correct the mistakes in the code so that it runs without errors.

In [7]:
# Load the CSV "mpr.csv"
mpr = pd.read_csv('mpr.csv')

# Use info() to inspect mpr
mpr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dog Name    6 non-null      object
 1   Owner Name  5 non-null      object
 2   Dog Breed   6 non-null      object
 3   Status      6 non-null      object
 4   Age         6 non-null      int64
dtypes: int64(1), object(4)
memory usage: 368.0+ bytes

In [8]:
# The following code contains one or more errors
# Correct the mistakes in the code so that it runs without errors

# Select column "Dog Name" from mpr
name = mpr[['Dog Name']]

# Select column "Status" from mpr
is_missing = mpr[['Status']]

# Display the columns
display(name)
display(is_missing)

  Dog Name
0    Bayes
1  Sigmoid
2   Sparky
3  Theorem
4      Ned
5    Benny

          Status
0  Still Missing
1  Still Missing
2          Found
3          Found
4  Still Missing
5          Found

## Logical testing
Let's practice writing logical statements and displaying the output.

Recall that we use the following operators:

- `==` tests that two values are equal.
- `!=` tests that two values are not equal.
- `>` and `<` test that greater than or less than, respectively.
- `>=` and `<=` test greater than or equal to or less than or equal to, respectively.

Instructiona

- The variable `height_inches` represents the height of a suspect. Is `height_inches` greater than `70` inches?
- The variable `plate1` represents a license plate number of a suspect. Is it equal to `FRQ123`?
- The variable `fur_color` represents the color of Bayes' fur. Check that `fur_color` is _not_ equal to `"brown"`.

In [10]:
height_inches = 65
plate1 = 'FRQ123'
fur_color = 'blonde'

In [12]:
# Is height_inches greater than 70 inches?
print(height_inches > 70)

# Is plate1 equal to "FRQ123"?
print(plate1 == "FRQ123")

# Is fur_color not equal to "brown"?
print(fur_color != "brown")

False
True
True

## Selecting missing puppies
Let's return to our DataFrame of missing puppies, which is loaded as `mpr`. Let's select a few different rows to learn more about the other missing dogs.

Instructions

- Select the dogs where `Age` is greater than `2`.
- Select the dogs whose `Status` is equal to `Still Missing`.
- Select all dogs whose `Dog Breed` is not equal to `Poodle`.

In [14]:
# Select the dogs where Age is greater than 2
greater_than_2 = mpr[mpr['Age'] > 2]
greater_than_2

  Dog Name             Owner Name       Dog Breed Status  Age
2   Sparky             Dr. Apache   Border Collie  Found    3
3  Theorem  Joseph-Louis Lagrange  French Bulldog  Found    4
5    Benny   Hillary Green-Lerman          Poodle  Found    3

In [15]:
# Select the dogs whose Status is equal to Still Missing
still_missing = mpr[mpr['Status'] == 'Still Missing']
still_missing

  Dog Name    Owner Name         Dog Breed         Status  Age
0    Bayes      DataCamp  Golden Retriever  Still Missing    1
1  Sigmoid           NaN         Dachshund  Still Missing    2
4      Ned  Tim Oliphant          Shih Tzu  Still Missing    2

In [16]:
# Select all dogs whose Dog Breed is not equal to Poodle
not_poodle = mpr[mpr['Dog Breed'] != 'Poodle']
not_poodle

  Dog Name             Owner Name         Dog Breed         Status  Age
0    Bayes               DataCamp  Golden Retriever  Still Missing    1
1  Sigmoid                    NaN         Dachshund  Still Missing    2
2   Sparky             Dr. Apache     Border Collie          Found    3
3  Theorem  Joseph-Louis Lagrange    French Bulldog          Found    4
4      Ned           Tim Oliphant          Shih Tzu  Still Missing    2

## Narrowing the list of suspects
In Chapter 1, we found a list of people whose cars matched the description of the one that kidnapped Bayes:

- Fred Frequentist
- Ronald Aylmer Fisher
- Gertrude Cox
- Kirstine Smith

We'd like to narrow this list down, so we obtained credit card records for each suspect. We'd like to know if any of them recently purchased dog treats to use in the kidnapping. If they did, they would have visited `'Pet Paradise'`.

The credit records have been loaded into a DataFrame called `credit_records`.

Instructions

- Select rows of `credit_records` such that the column `location` is equal to `'Pet Paradise'`.
- Which suspects purchased pet supplies before the kidnapping?

In [17]:
# Select purchases from 'Pet Paradise'
purchase = credit_records[credit_records['location'] == 'Pet Paradise']

# Display
purchase

             suspect      location              date          item  price
7   Fred Frequentist  Pet Paradise  January 14, 2018    dog treats   8.75
8   Fred Frequentist  Pet Paradise  January 14, 2018    dog collar  12.25
27      Gertrude Cox  Pet Paradise  January 13, 2018  dog chew toy   5.95
28      Gertrude Cox  Pet Paradise  January 13, 2018    dog treats   8.75