## Types of database constraints

Which of the following is used to enforce a database constraint?

Foreign keys.
<br>The BIGINT data type.
<br>Primary keys.

## Conforming with data types

For demonstration purposes, I created a fictional database table that only holds three records. The columns have the data types `date`, `integer`, and `text`, respectively.

```
CREATE TABLE transactions (
    transaction_date date, 
    amount integer,
    fee text
);
```

Have a look at the contents of the `transactions` table.

The `transaction_date` accepts `date` values. According to the [PostgreSQL documentation](https://www.postgresql.org/docs/10/datatype-datetime.html#DATATYPE-DATETIME-INPUT), it accepts values in the form of `YYYY-MM-DD`, `DD/MM/YY`, and so forth.

Both columns `amount` and `fee` appear to be numeric, however, the latter is modeled as `text` – which you will account for in the next exercise.

Instructions

1. Execute the given sample code.
2. As it doesn't work, have a look at the error message and correct the statement accordingly – then execute it again.

In [ ]:
-- Let's add a record to the table
INSERT INTO transactions (transaction_date, amount, fee) 
VALUES ('2018-09-24', 5454, '30');

-- Doublecheck the contents
SELECT *
FROM transactions;

# transaction_date   amount   fee
# 1999-01-08         500      20
# 2001-02-20         403      15
# 2001-03-20         3430     35
# 2018-09-24         5454     30

## Type CASTs

In the video, you saw that type casts are a possible solution for data type issues. If you know that a certain column stores numbers as `text`, you can _cast_ the column to a numeric form, i.e. to `integer`.

```
SELECT CAST(some_column AS integer)
FROM table;
```

Now, the `some_column` column is temporarily represented as `integer` instead of `text`, meaning that you can perform numeric calculations on the column.

Instructions

1. Execute the given sample code.
2. As it doesn't work, add an `integer` type cast at the right place and execute it again.

In [ ]:
-- Calculate the net amount as amount + fee
SELECT transaction_date, amount + CAST(fee AS integer) AS net_amount 
FROM transactions;

# transaction_date   net_amount
# 1999-01-08         520
# 2001-02-20         418
# 2001-03-20         3465
# 1999-01-08         520
# 2001-02-20         418
# 2001-03-20         3465
# 2018-09-24         5484

## Change types with ALTER COLUMN

The syntax for changing the data type of a column is straightforward. The following code changes the data type of the `column_name` column in `table_name` to `varchar(10)`:

```
ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(10)
```

Now it's time to start adding constraints to your database.

Instructions

1. Have a look at the distinct `university_shortname` values in the `professors` table and take note of the length of the strings.
2. Now specify a fixed-length character type with the correct length for `university_shortname`.
3. Change the type of the `firstname` column to `varchar(64)`.

In [ ]:
-- Select the university_shortname column
SELECT DISTINCT(university_shortname) 
FROM professors;

# university_shortname
# ULA
# UNE
# EPF
# UBA
# USG
# UBE
# UZH
# UGE
# UFR
# USI
# ETH

In [ ]:
-- Specify the correct fixed-length character type
ALTER TABLE professors
ALTER COLUMN university_shortname
TYPE char(3);

In [ ]:
-- Change the type of firstname
ALTER TABLE professors
ALTER COLUMN firstname
TYPE varchar(64);

## Convert types USING a function

If you don't want to reserve too much space for a certain `varchar` column, you can _truncate_ the values before converting its type.

For this, you can use the following syntax:

```
ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(x)
USING SUBSTRING(column_name FROM 1 FOR x)
```

You should read it like this: Because you want to reserve only `x` characters for `column_name`, you have to retain a `SUBSTRING` of every value, i.e. the first `x` characters of it, and throw away the rest. This way, the values will fit the `varchar(x)` requirement.

Instructions

1. Run the sample code as is and take note of the error.
2. Now use `SUBSTRING()` to reduce `firstname` to 16 characters so its type can be altered to `varchar(16)`.

In [ ]:
-- Convert the values in firstname to a max. of 16 characters
ALTER TABLE professors 
ALTER COLUMN firstname 
TYPE varchar(16)
USING SUBSTRING(firstname FROM 1 FOR 16)

## Disallow NULL values with SET NOT NULL

The `professors` table is almost ready now. However, it still allows for `NULL`s to be entered. Although some information might be missing about some professors, there's certainly columns that _always_ need to be specified.

Instructions

1. Add a not-null constraint for the `firstname` column.
2. Add a not-null constraint for the `lastname` column.

In [ ]:
-- Disallow NULL values in firstname
ALTER TABLE professors 
ALTER COLUMN firstname SET NOT NULL;

In [ ]:
-- Disallow NULL values in lastname
ALTER TABLE PROFESSORS
ALTER COLUMN lastname SET NOT NULL

## What happens if you try to enter NULLs?

Execute the following statement:

```
INSERT INTO professors (firstname, lastname, university_shortname)
VALUES (NULL, 'Miller', 'ETH');
```

Why does this throw an error?

Because a database constraint is violated.

## Make your columns UNIQUE with ADD CONSTRAINT

As seen in the video, you add the `UNIQUE` keyword after the `column_name` that should be unique. This, of course, only works for _new_ tables:

```
CREATE TABLE table_name (
    column_name UNIQUE
);
```

If you want to add a unique constraint to an _existing_ table, you do it like that:

```
ALTER TABLE table_name
ADD CONSTRAINT some_name UNIQUE(column_name);
```

Note that this is different from the `ALTER COLUMN` syntax for the not-null constraint. Also, you have to give the constraint a name `some_name`.

Instructions

1. Add a unique constraint to the `university_shortname` column in `universities`. Give it the name `university_shortname_unq`.
2. Add a unique constraint to the `organization column` in `organizations`. Give it the name `organization_unq`.

In [ ]:
-- Make universities.university_shortname unique
ALTER TABLE universities
ADD CONSTRAINT university_shortname_unq UNIQUE(university_shortname);

In [ ]:
-- Make organizations.organization unique
ALTER TABLE organizations
ADD CONSTRAINT organization_unq UNIQUE(organization)